<ion-header>
  <ion-toolbar>
    <ion-title>SignUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Create an account</h1>

  <ion-input placeholder="Full Name"></ion-input>
  <ion-input placeholder="your@email.com"></ion-input>
  <ion-input placeholder="Password" type="password"></ion-input>
  <ion-input placeholder="Confirm Password" type="password"></ion-input>

  <ion-button shape="round" fill="outline" type="button" href="../log-in">Create Account</ion-button>
</ion-content>
